<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Flask Website</title>
</head>

<body>
<h1 style="color: blue">Index</h1>
<p>This is an HTML file served up by Flask</p>

<h1> Building a Simple Flask Website </h1>
<p> Flask is a Fun and easy framework</p>
<p> Flask and HTML in python looks cool</p>


<h1> Access to our RestFul API </h1>
<a href="/swagger_docs"> TCFD Risks Swagger API </a>

<h1> Access to our UI/UX </h1>
<a href="/user_interface"> UI/UX to Visualise Risks </a>

<!-- <h1> Access to our HTML </h1>
<a href="/html/index-06"> Access to our HTML </a> -->

<h1> BCI Main Website </h1>
<a href="https://blockchainclimate.org/"> BCI Main Website </a>


</body>

</html>