<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="Cryptocurrency Landing Page HTML5 Template">
    <meta name="keywords" content="Cryptocurrency, bitcoin, bitcoin landing, blockchain, crypto trading ">
    <meta name="author" content="Ecology Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCI - G20 TECHSPRINT 2021</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/assets/bootstrap.min.css">
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="css/assets/font-awesome.min.css">
    <!-- popup-->
    <link rel="stylesheet" href="css/assets/magnific-popup.css">
    <link rel="stylesheet" href="css/assets/owl.carousel.css">
    <link rel="stylesheet" href="css/assets/owl.theme.css">
    <link rel="stylesheet" href="css/assets/jquery.countdown.css">
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="css/assets/animate.css">
    <!-- preloader css-->
    <link rel="stylesheet" href="css/assets/preloader.css">
    <!-- main style-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cryptonio.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="body_05">
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<header id="header-05" class="header">
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-light bg-faded cripto_nav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img src="images/logo_techsprint2021.png" alt="logo"></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a data-scroll href="#header-05" class="nav-link active">Home</a></li>
                    <li class="nav-item"><a data-scroll href="#about_cryptonic_05" class="nav-link">Report</a></li>
                    <!-- <li class="nav-item"><a data-scroll href="#ico_start_05" class="nav-link">Token Sale</a></li> -->
                    <li class="nav-item"><a data-scroll href="#roadmap_05" class="nav-link">Roadmap</a></li>
                    <!-- <li class="nav-item"><a data-scroll href="#team_membar_02" class="nav-link">Team</a></li>                    -->
                    <!-- <li class="nav-item"><a data-scroll href="#faq-area-05" class="nav-link">Faq</a></li>-->
                    <li class="nav-item"><a data-scroll href="#footer-05" class="nav-link">Contact</a></li>
                </ul>
            </div>
            <!-- <div class="language">
                <a href="#" class="token">Buy token</a>
                <div class="dropdown dsix"><span>Eng<i class="fas fa-chevron-down"></i></span>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="blog.html">Deutsch</a></li>
                        <li><a class="dropdown-item" href="blog-post.html">Español</a></li>
                        <li><a class="dropdown-item" href="shop.html">Spanish</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </nav><!-- END NAVBAR -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="intro-text">
                    <h4>Scaling Sustainability-Linked Fixed Income Market (Bonds/Loans) with the support of Digital
                        Technologies (AI, IoT, DLT):
                        Real Estate Sector Use Case</h4>
                    <p>G20 TECHSPRINT 2021 ON GREEN AND SUSTAINABLE FINANCE</p>
                    <div class="btn_video_wrapper">
                        <!--                        <a href="#" class="btn btn-default btn-default-style">Download Report</a>-->
                        <div class="video_wrapper">
                            <div class="video-play-btn">
                                <span><a href="https://www.youtube.com/watch?v=8uqSuCSKx38" class="video-iframe"><i
                                        class="fa fa-play"></i><span class="video_title">Introduction</span></a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="btn_video_wrapper">
                        <div class="video_wrapper">
                            <div class="video-play-btn">
                                <span><a href="https://www.youtube.com/watch?v=dRAhd6xKn34" class="video-iframe"><i
                                        class="fa fa-play"></i><span class="video_title">TCFD Risk</span></a> </span>
                            </div>
                        </div>
                        <div class="video_wrapper">
                            <div class="video-play-btn">
                                <span><a href="https://www.youtube.com/watch?v=HQMDbVXTqA8" class="video-iframe"><i
                                        class="fa fa-play"></i><span class="video_title">DLT Bond</span></a> </span>
                            </div>
                        </div>
                    </div>
                    <div class="intro-img-wrapper">
                        <img src="images/blockchain-green-bonds.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <span class="shape1 header-shape"><img src="images/shape/header5_shape_1.png" alt=""></span>
        <span class="shape2 header-shape"><img src="images/shape/header5_shape_2.png" alt=""></span>
        <span class="shape3 header-shape"><img src="images/shape/header5_shape_3.png" alt=""></span>
    </div>
</header> <!-- End Header -->

<section id="earning-05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="earning-wrapper">
                    <div class="single-earnings">
                        <div class="earning-title wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <a href="/swagger_docs"><img src="images/logos/tcfd-logo.png" alt="">
                                <h2>UK Real Estate Risks</h2></a>
                        </div>
                    </div>
                    <div class="single-earnings">
                        <div class="earning-title wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <a href="/user_interface"><img src="images/icons/map-icon.png" alt="">
                                <h2>UK Mapping Tool</h2></a>
                        </div>
                    </div>
                    <div class="single-earnings">
                        <div class="earning-title wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <a href="https://blockchain-bonds.herokuapp.com/"><img src="images/logos/algorandlogo.png"
                                                                                  alt="">
                                <h2>Green Bonds on DLT</h2></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  <!-- End earning -->

<section id="about_cryptonic_05">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="images/green-bond.png" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">BCI Green Bonds DLT</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">The Blockchain & Climate
                        Institute (BCI) is a leading international think tank aiming to bring to market the necessary
                        financial technologies to address the climate emergency. This team proposes to deliver the
                        innovation of scaling the Sustainability Linked Fixed Income Market (Bonds/Loans) with the
                        support of Digital Technologies like Artificial Intelligence (AI), Internet of Things (IoT) and
                        Distributed Ledger Technologies (DLT).</p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">The specific use case is chosen
                        is the “UK Real Estate” sector. </p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">The solution aims to address
                        many of the current challenges with the scaling of Green Bonds on Blockchain. When looking at
                        the proposed solution, we have chosen the Algorand Blockchain for our platform for green bond
                        issuance (Katten, 2021). It offers “Green Bonds as a Service” and provides the advantages of
                        both fractional asset ownership and minimal associated costs. </p>

                    <a href="#" class="btn btn-default btn-default-style wow fadeInUp" data-wow-duration="2s"
                       data-wow-delay=".5s">Download Report</a>
                </div>
            </div>
        </div>
        <div class="row about_2_item">
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h6 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Real Estate Use Case</h6>
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">BCI developed 3 open-source
                        software solutions</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"> 1.) A real estate Automatic
                        Valuation Model (AVM) to provide real estate asset valuations for all UK residential
                        properties. </p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"> 2.) The CREMM model which uses
                        the output of the AVM among other inputs. </p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"> 3.) The physical risk
                        model. </p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s"> All solutions are available
                        via PYPI </p>

                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="images/process-steps.png" alt="">
                </div>
            </div>
        </div>

    </div>
</section>  <!-- End about_cryptonic -->


<section id="multiple-income-05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-5 padding-none">
                <div class="about_cryptonic-content">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Algorand Blockchain</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s"> The proposal has shown the
                        capacity to provide a transparent and effective method of issuing green bonds on the Algorand
                        blockchain. </p>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s"> The BCI Proposal aimed at
                        problem statement 3 (PS3), better connecting projects and investors, is built on the foundations
                        of past work and solutions at BCI. Wherein, we were able to ascertain that PS3 would provide BCI
                        the opportunity to add the most value, we took the opportunity to delve deeper given the
                        experience BCI has with technologies like Artificial Intelligence (AI), Internet of Things (IoT)
                        and Distributed Ledger Technologies (DLT) for delivering the proposed innovation of scaling the
                        Sustainability-Linked Fixed Income Market (Bonds/Loans). </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7">
                <div class="about-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <img src="images/algorand-benefits.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>   <!-- End multiple-income -->

<section id="benefits-05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Benefits of Using Our
                        Solution</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Green Bonds promote greater
                        transparency on how issuers and investors use their funds and evaluate their impacts. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 benefits-single-item">
                <div class="benefits-single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <div class="benefits-img">
                        <img src="images/icons/benefits1-01.png" alt="">
                    </div>
                    <h4>Open Source</h4>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 benefits-single-item">
                <div class="benefits-single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <div class="benefits-img">
                        <img src="images/icons/benefits1-02.png" alt="">
                    </div>
                    <h4>Blockchain Based Green Ratings & Verification</h4>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 benefits-single-item">
                <div class="benefits-single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <div class="benefits-img">
                        <img src="images/icons/benefits1-03.png" alt="">
                    </div>
                    <h4>Real Time Data</h4>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 benefits-single-item">
                <div class="benefits-single-wrapper wow fadeInUp" data-wow-duration="2s" data-wow-delay=".8s">
                    <div class="benefits-img">
                        <img src="images/icons/benefits1-04.png" alt="">
                    </div>
                    <h4>Transaction Efficient Smart Contracts</h4>
                </div>
            </div>
        </div>
    </div>
    <span class="shape1"><img src="images/shape/shape-5-01.png" alt=""></span>
    <span class="shape2"><img src="images/shape/shape-5-02.png" alt=""></span>
</section> <!-- End benefits -->

<section id="best_feature_05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <!-- <h6 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">How it Works</h6> -->
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">How it works?</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">Step by Step Example Bond
                        Issuance Process on the Algorand Blockchain</p>
                </div>
            </div>
        </div>
        <div class="row feature_items">
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h3>1. Select Projects</h3>
                    <img src="images/icons/service-01.png" alt="">
                    <p>An ESCO utilizes the BCI TCFD package to evaluate and select suitable real estate assets that
                        would benefit from retrofitting as a means of preventing the assets from becoming stranded. </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <h3>2. Group Projects</h3>
                    <img src="images/icons/service-02.png" alt="">
                    <p>A series of suitable projects are grouped together to form a bond  </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h3>3. Issue Bond</h3>
                    <img src="images/icons/service-03.png" alt="">
                    <p>The ESCO issues the bond containing with parameters; number of bonds to mint, number of coupon
                        payments, start buy date, end buy date, maturity date, bond cost, bond coupon value and bond
                        principal amount. </p>
                </div>
            </div>
        </div>


        <div class="row feature_items">
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h3>4. Encode Parameters</h3>
                    <img src="images/icons/service-01.png" alt="">
                    <p>Following the submission of the form by the issuer, a request is sent to the backend. The
                        associated parameters can then be encoded into smart contracts and deployed. </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <h3>5. Select Investments</h3>
                    <img src="images/icons/service-02.png" alt="">
                    <p>Given the bond parameters, investors can select the bonds that they would like to invest in. To
                        open the market to smaller investors, fractional asset ownership is also possible.   </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h3>6. KYC & AML</h3>
                    <img src="images/icons/service-03.png" alt="">
                    <p>Financial regulators approve the issuance. The financial regulator has the capacity to perform
                        KYC and AML checks before approving an investor. The regulator also has the capacity to freeze
                        accounts in the event of any financial irregularities </p>
                </div>
            </div>
        </div>
        <div class="row feature_items">
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h3>7. Green rating</h3>
                    <img src="images/icons/service-01.png" alt="">
                    <p>Initially, and at every coupon payment period, typically annually or biannually, the green
                        verifier reviews a pdf report that outlines the green credentials of the bond overtime and
                        subsequently submits a green rating. Depending on the verifiers judgement, the coupon rate can
                        be changed. </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <h3>8. Reporting</h3>
                    <img src="images/icons/service-02.png" alt="">
                    <p>The report will contain details of how the retrofitting process has been carried out for all the
                        properties included within the bond, along with the outcomes on the EPC rating of the assets due
                        to the retrofits.   </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                    <h3>9. Iterate</h3>
                    <img src="images/icons/service-03.png" alt="">
                    <p>It is possible that following a retrofitting project, a property could temporarily gain an
                        improved EPC rating before returning to the original rating if the property isn’t managed
                        properly. To prevent such greenwashing, as outlined in step 7, an updated PDF report should be
                        issued to the green verifier at every coupon payment period. </p>
                </div>
            </div>
        </div>

        <div class="row feature_items">
            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h3>10. Secondary Market trading</h3>
                    <img src="images/icons/service-01.png" alt="">
                    <p>At any stage during the lifecycle of the bond, investors can trade it on the secondary market at
                        a coupon rate in keeping with the green verifiers rating at any given point. In the secondary
                        market, a low green rating may also lead to reduced bond pricing and could reflect poorly on
                        both the issuer of the bond and the ESG fund managers that made the decision to invest in green
                        bond that is now rated poorly. The financial regulators will pay a similar role when bonds are
                        sold on the secondary market as they did when the bond was first issued. </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 single-wrapper">
                <div class="single-items wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                    <h3>11. Payments</h3>
                    <img src="images/icons/service-02.png" alt="">
                    <p>At maturity, the principal amount will be paid  </p>
                </div>
            </div>


        </div>

    </div>
</section> <!-- End best_feature -->

<section id="roadmap_05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Development Roadmap</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">BCI development history and
                        future plans are as follows:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="location_04">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="location_wrapper">
                        <div class="roadmap_position"></div>
                        <div class="location location_top location_1 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".2s">
                            <div class="map_date">
                                <h5>January, 2020</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>BCI Formation</h3>
                                <p>BCI started with an understanding of the urgent need to tackle climate change today,
                                    for a better tomorrow.</p>
                            </div>
                        </div>
                        <div class="location location_bttom location_2 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".3s">
                            <div class="map_date">
                                <h5>March, 2020</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Research</h3>
                                <p>BCI Began development of the real estate Automatic Valuation Model (AVM), CRREM
                                    model, and Physical Risk models, aiming to provide a comprehensive TCFD open-source
                                    package.</p>
                            </div>
                        </div>
                        <div class="location location_top location_3 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".4s">
                            <div class="map_date">
                                <h5>July, 2021</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Techsprint 2021</h3>
                                <p>BCI Enters the Techsprint 2021 contest.</p>
                            </div>
                        </div>
                        <div class="location location_bttom location_4 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".5s">
                            <div class="map_date">
                                <h5>2022+</h5>
                            </div>
                            <span></span>
                            <div class="location_title">
                                <h3>Buildout</h3>
                                <p>Utilizing the platform in countries aside from the UK</p>
                                <p>Use of Different Mechanisms to monitor the management of proceeds</p>
                                <p>Alternative Sector Use Cases</p>
                                <p>Different Structures and Innovations of Green Bonds on DLT platform</p>
                                <p>Employing Exchange-traded Fund</p>
                                <p>Further exploration of potential to tokenize elements of the proposal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="shape1 header-shape"><img src="images/shape/roadmap5-01.png" alt=""></span>
    <span class="shape2 header-shape"><img src="images/shape/roadmap5-02.png" alt=""></span>
</section> <!-- End roadmap -->

<!--<section id="team_membar_02" class="team_membar_05">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Our Team</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Artificial based on the neural network, the NRM assistant will instantly analyze user data use.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="team_01" class="owlCarousel">
                    <div class="single-wrapper ">
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-01.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>David Martin</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-02.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>David Martin</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                    <div class="single-wrapper membar_item_top">
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-03.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>David Martin</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-04.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>David Martin</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                    <div class="single-wrapper">
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-05.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Reena Scot</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-06.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Reena Scot</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                    <div class="single-wrapper membar_item_top">
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-07.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Paul Smith</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="team-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
                            <figure>
                                <div class="member-img">
                                    <img src="images/team/team-08.jpg" alt="member img" class="img-fluid">
                                </div>
                                <figcaption>
                                    <div class="member-name">
                                        <h4>Paul Smith</h4>
                                        <span>Founder</span>
                                    </div>                            
                                    <ul class="social-links list-unstyled">
                                        <li class="nav-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="nav-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>
</section>&lt;!&ndash; End team_membar &ndash;&gt;-->

<!--
<section id="companis_logos_05" class="companis_logos_05">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Acknowledgements</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">The team would like to thank
                        the direct and indirect support of all these organisations.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="companis-logo-wapper">
                    <ul class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                        <li><img src="images/logos/company_logo-01.png" alt=""></li>
                        <li><img src="images/logos/company_logo-02.png" alt=""></li>
                        <li><img src="images/logos/company_logo-03.png" alt=""></li>
                        <li><img src="images/logos/company_logo-04.png" alt=""></li>
                        <li><img src="images/logos/company_logo-05.png" alt=""></li>
                    </ul>
                    <ul class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
                        <li><img src="images/logos/company_logo-06.png" alt=""></li>
                        <li><img src="images/logos/company_logo-07.png" alt=""></li>
                        <li><img src="images/logos/company_logo-08.png" alt=""></li>
                        <li><img src="images/logos/company_logo-07.png" alt=""></li>
                        <li><img src="images/logos/company_logo-08.png" alt=""></li>
                    </ul>
                    <ul class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".6s">
                        <li><img src="images/logos/company_logo-07.png" alt=""></li>
                        <li><img src="images/logos/company_logo-08.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>&lt;!&ndash; End companis_logos &ndash;&gt;
-->

<!--
<section id="faq-area-05" class="faq-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="faq-img  wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="images/faq-02.png" alt="" class="img-fluid">
                </div>
                <div class="sub-title">
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Frequently Asked
                        Questions</h2>
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">Artificial based on the neural
                        network, the NRM assistant will instantly analyze user data use.</p>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="faq-wrapper">
                    &lt;!&ndash;Accordion wrapper&ndash;&gt;
                    <div class="panel-group accordion-wrapper" id="accordion" role="tablist"
                         aria-multiselectable="true">
                        <div class="panel accordion-single accordion-01 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".2s">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What cryptocurrencies can I use to purchase?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest
                                        algorithms for self learning, analysis and comparison of neurons in which will
                                        be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-02 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".3s">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        How do I benefit from the ICO Token?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse  in show" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest
                                        algorithms for self learning, analysis and comparison of neurons in which will
                                        be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-03 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".4s">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        To Keep Makeup Looking Fresh Take A Powder
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest
                                        algorithms for self learning, analysis and comparison of neurons in which will
                                        be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel accordion-single accordion-04 wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay=".5s">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        What Curling Irons Are The Best Ones
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="card-body  accordion-content">
                                    <p>Artificial intelligence based on neural networks, built using the newest
                                        algorithms for self learning, analysis and comparison of neurons in which will
                                        be self-corrected, based on the history.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>&lt;!&ndash; End faq-area &ndash;&gt;
-->

<footer id="footer-05" class="footer">
    <div class="container">
        <div class="row footer-btm-wrapper">
            <div class="col-md-12 col-lg-12">
                <div class="footer_items">
                    <div class="footer-single-col footer_single_list_1">
                        <h3 class="subtitle_1">&nbsp;<img src="images/logos/bci_logo.png" alt=""></h3>
                        <p>Progressive think tank of emerging data technologies for climate actions.</p>
                        <ul class="social-items list-unstyled">
                            <!--                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>-->
                            <!--                            <li><a href="#"><i class="fab fa-instagram instagram-icon"></i></a></li>                    -->
                            <li><a href="https://twitter.com/blockchainci?lang=en"><i
                                    class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCaHl2HVWkE8ihZuCH9YbTHg"><i
                                    class="fab fa-youtube youtube-icon"></i></a></li>
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_2">
                        <h3 class="subtitle_1">Team</h3>
                        <ul class="list-unstyled">
                            <li><a href="https://blockchainclimate.org/">Blockchain & Climate Institute (BCI)</a></li>
                            <!--                            <li><a href="#">About Us</a></li>-->
                            <!--                            <li><a href="#">Services</a></li>-->
                            <!--                            <li><a href="#">Team</a></li>-->
                        </ul>
                    </div>

                    <div class="footer-single-col footer_single_list_3">
                        <h3 class="subtitle_1">Contact Us</h3>
                        <ul class="list-unstyled">
                            <li><a href="mailto:ResearchDivisionIFinance@blockchainclimate.org">Research Division I
                                (Finance)</a></li>
                            <!--                            <li><a href="#">Refund Policy</a></li>-->
                            <!--                            <li><a href="#">Live Chat</a></li>-->
                            <!--                            <li><a href="#">Support Policy</a></li>-->
                        </ul>
                    </div>

                    <!--                    <div class="footer-single-col footer_single_list_4">-->
                    <!--                        <h3 class="subtitle_1">Product</h3>-->
                    <!--                        <ul class="list-unstyled">-->
                    <!--                            <li><a href="#">Consumer</a></li>-->
                    <!--                            <li><a href="#">Terms Condition</a></li>-->
                    <!--                            <li><a href="#">Help & Faq</a></li>-->
                    <!--                            <li><a href="#">Priceing</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p> Copyright &copy; 2021, Created by <span>BCI</span></p>
    </div>
    <span class="shape1 header-shape"><img src="images/shape/header5_shape_1.png" alt=""></span>
    <span class="shape2 header-shape"><img src="images/shape/header5_shape_2.png" alt=""></span>
    <span class="shape3 header-shape"><img src="images/shape/header5_shape_3.png" alt=""></span>
</footer><!-- ./ End Footer Area-->

<!-- JavaScript Files -->
<script src="js/assets/jquery-3.2.1.min.js"></script>
<script src="js/assets/popper.min.js"></script>
<script src="js/assets/bootstrap.min.js"></script>
<script src="js/assets/jquery.sticky.js"></script>
<script src="js/assets/isotope.pkgd.min.js"></script>
<script src="js/assets/jquery.magnific-popup.min.js"></script>
<script src="js/assets/jquery.downCount2.js"></script>
<script src="js/assets/jquery.countdown.js"></script>
<script src="js/assets/owl.carousel.min.js"></script>
<script src="js/assets/smooth-scroll.js"></script>
<script src="js/assets/wow.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
